<center><h1>The DataFrame Object in R</h1></center>
<center><h3>Ellen Duong</h3></center>
<center><h3>August Guang</h3></center>
<center><h3>Paul Stey</h3></center>

# 1. What is a `data.frame`?

  - Tabular data structure (i.e., like Excel spreadsheet)
  - Canonical data structure for data analysis
  - Capable of storing heterogeneous data

## 1.1 What does it look like?

In [1]:
idx <- 1:4
score <- rnorm(4)
vocals <- c(TRUE, TRUE, TRUE, FALSE)
firstname <- c("john", "george", "paul", "ringo")

dat <- data.frame(idx, firstname, score, vocals)

dat

  idx firstname score       vocals
1 1   john      -1.51900212  TRUE
2 2   george     0.59062028  TRUE
3 3   paul      -0.03782878  TRUE
4 4   ringo      0.22167893 FALSE

## 1.2 Indexing and Slicing a `data.frame`

  - Similar to `vector`, `matrix`, and `array` objects

In [2]:
dat[1, 2]           # get element in first row, second column

[1] "john"

In [3]:
dat[, 2]            # get all of second column

[1] "john"   "george" "paul"   "ringo"

In [4]:
dat[3, ]            # get third row

  idx firstname score       vocals
3 3   paul      -0.03782878 TRUE

### 1.2.1 Indexing using Column Names

In [5]:
dat[3, "score"]          # element from row 3 and "score" column

[1] -0.03782878

In [6]:
dat[2:4, "firstname"]    # get elements 2, 3, and 4 from "firstname" column

[1] "george" "paul"   "ringo"

## 1.3 The `$` Operator and `data.frame` Objects

In [7]:
dat$firstname            # get the "firstname" column

[1] "john"   "george" "paul"   "ringo"

# 2. Filter `data.frame` using Logical Indexing

In [8]:
dat

  idx firstname score       vocals
1 1   john      -1.51900212  TRUE
2 2   george     0.59062028  TRUE
3 3   paul      -0.03782878  TRUE
4 4   ringo      0.22167893 FALSE

In [12]:
idx_keep <- c(TRUE, TRUE, TRUE, FALSE)

dat[idx_keep, ]

  idx firstname score       vocals
1 1   john      -1.51900212 TRUE
2 2   george     0.59062028 TRUE
3 3   paul      -0.03782878 TRUE

## 2.1 Create New `data.frame` from Another

In [15]:
dat2 <- dat[idx_keep, ]       # create new dataframe, from subset of original

tail(dat2, n=2)

  idx firstname score       vocals
2 2   george     0.59062028 TRUE
3 3   paul      -0.03782878 TRUE

### 2.1.1 Take Subset of `data.frame` Columns

In [25]:
cols <- c("firstname", "score")    # columns we care about

dat_namescore <- dat2[, cols]      # create new dataframe

dat_namescore

  firstname score
1 john      -1.51900212
2 george     0.59062028
3 paul      -0.03782878

# 3. Adding Columns to a `data.frame`

In [26]:
dat

  idx firstname score       vocals
1 1   john      -1.51900212  TRUE
2 2   george     0.59062028  TRUE
3 3   paul      -0.03782878  TRUE
4 4   ringo      0.22167893 FALSE

In [27]:
dat$food <- c("steak", "chicken", "potato", "rice")

dat

  idx firstname score       vocals food
1 1   john      -1.51900212  TRUE  steak
2 2   george     0.59062028  TRUE  chicken
3 3   paul      -0.03782878  TRUE  potato
4 4   ringo      0.22167893 FALSE  rice

## 3.1. Adding Columns (cont.)

In [28]:
dat[, "drink"] <- c("water", "milk", "beer", "scotch")

dat

  idx firstname score       vocals food    drink
1 1   john      -1.51900212  TRUE  steak   water
2 2   george     0.59062028  TRUE  chicken milk
3 3   paul      -0.03782878  TRUE  potato  beer
4 4   ringo      0.22167893 FALSE  rice    scotch


<center><h1>Challenge Questions</h1></center>

### Question 1.
Create a `data.frame` object called `state_df` with two columns, one called `state` and one called `population`. Each column should have five elements. For the `state` column, select the abbreviations for five US states (e.g., "OH", "RI", "NY", "MA", "CT"). For the `population` column, use the `sample()` function to create "populations" at random from the range `1` to `1000000`.

### Question 2.
Add a third column to the `state_df` dataframe called `size`. In particular, use boolean indexing to assign elements of the third column to be `"large"` if that row's `population` value is larger than or equal to `500000`, and be `"small"`  if the row's `population` is less than `500000`.

In [30]:
state <- c("OH", "RI", "NY", "MA", "CT")

set.seed(1) # sets the state of the random number generator stored in .Random.seed
population <- sample(1:1000000, 5)

state_df <- data.frame(state, population)

state_df

  state population
1 OH    548676
2 RI    452737
3 NY    124413
4 MA    436523
5 CT    856018

In [32]:
is_small <- state_df$population < 500000   # create vector of booleans

is_small

state_df$size <- rep(NA, 5)                # create column of 5 NAs

state_df[is_small, "size"] <- "small"      # assigning "small" wherever `is_small` is TRUE
state_df[!is_small, "size"] <- "large"     # assigning "large" wherever !is_small

state_df

[1] FALSE  TRUE  TRUE  TRUE FALSE

  state population size
1 OH    548676     large
2 RI    452737     small
3 NY    124413     small
4 MA    436523     small
5 CT    856018     large

In [33]:
n <- nrow(state_df)                        # get number of rows in dataframe
state_df$size <- rep(NA, n)                # create empty column of NAs

for (i in 1:n) {
    if (state_df[i, "population"] < 500000) {
        state_df[i, "size"] <- "small"
    }
    else {
        state_df[i, "size"] <- "large"
    }
}

state_df

  state population size
1 OH    548676     large
2 RI    452737     small
3 NY    124413     small
4 MA    436523     small
5 CT    856018     large

In [34]:
state_df$size <- ifelse(state_df$population < 500000, "small", "large")

state_df

  state population size
1 OH    548676     large
2 RI    452737     small
3 NY    124413     small
4 MA    436523     small
5 CT    856018     large

# 4. Reading Data from CSV File

  - CSV File is "comma-separated values"
  - The `,` separator is conventional, but not mandatory
  - The `|` character is also common

## 4.1 Providence Police Dept. Data

  - We will be looking at public data regarding arrests and case

In [35]:
# The line below reads the CSV file and creates a dataframe 

arrests_df <- read.csv("data/pvd_arrests_2021-10-03.csv")

## 4.2 Exploring the Data

In [36]:
head(arrests_df)         # show first few lines of the dataframe

  arrest_date           year month gender race  ethnicity   year_of_birth age
1 2019-08-24T02:23:00.0 2019 8     Male   White NonHispanic 1981          37
2 2019-08-24T02:02:00.0 2019 8                              1994          25
3 2019-08-24T02:02:00.0 2019 8     Female Black NonHispanic 1984          34
4 2019-08-24T02:02:00.0 2019 8     Female Black NonHispanic 1984          34
5 2019-08-24T02:02:00.0 2019 8     Female Black Unknown     2001          18
6 2019-08-24T02:02:00.0 2019 8     Female Black Unknown     2001          18
  from_address         from_city  from_state   statute_type
1 No Permanent Address providence Rhode Island
2 SUMMER AVE           Cranston   Rhode Island RI Statute Violation
3 DOUGLAS AVE          Providence Rhode Island RI Statute Violation
4 DOUGLAS AVE          Providence Rhode Island RI Statute Violation
5 TRASH ST                                     RI Statute Violation
6 TRASH ST                                     RI Statute Violation
  statute_code statute_desc                                              counts
1                                                                        NA
2 31-11-18     Driving after Denial, Suspension or Revocation of License  1
3 12-7-10      RESISTING LEGAL OR ILLEGAL ARREST                          1
4 11-45-1      DISORDERLY CONDUCT                                         1
5 12-7-10      RESISTING LEGAL OR ILLEGAL ARREST                          1
6 11-45-1      DISORDERLY CONDUCT                                         1
  case_number   arresting_officers       id
1 2019-00084142  YGonzalez, LTaveras     pvd2218242150382148273
2 2019-00084127  NManfredi               pvd15166785558364246202
3 2019-00084126  MPlace, JPerez, ASantos pvd3142917706201385905
4 2019-00084126  MPlace, JPerez, ASantos pvd3142917706201385905
5 2019-00084126  MPlace, JPerez, ASantos pvd460449304532374599
6 2019-00084126  MPlace, JPerez, ASantos pvd460449304532374599

### 4.2.1 More Data Exploring

In [37]:
dim(arrests_df)             # get dimensions of the dataframe

[1] 13012    18

In [38]:
nrow(arrests_df)            # get number of rows

[1] 13012

In [39]:
ncol(arrests_df)            # get the number of columns

[1] 18

In [40]:
colnames(arrests_df)        # get the column names

 [1] "arrest_date"        "year"               "month"
 [4] "gender"             "race"               "ethnicity"
 [7] "year_of_birth"      "age"                "from_address"
[10] "from_city"          "from_state"         "statute_type"
[13] "statute_code"       "statute_desc"       "counts"
[16] "case_number"        "arresting_officers" "id"

# 5. Summaries from `data.frame`

In [41]:
str(arrests_df)              # the str() function shows the structure of dataframe

'data.frame':	13012 obs. of  18 variables:
 $ arrest_date       : chr  "2019-08-24T02:23:00.0" "2019-08-24T02:02:00.0" "2019-08-24T02:02:00.0" "2019-08-24T02:02:00.0" ...
 $ year              : int  2019 2019 2019 2019 2019 2019 2019 2019 2019 2019 ...
 $ month             : int  8 8 8 8 8 8 8 8 8 8 ...
 $ gender            : chr  "Male" "" "Female" "Female" ...
 $ race              : chr  "White" "" "Black" "Black" ...
 $ ethnicity         : chr  "NonHispanic" "" "NonHispanic" "NonHispanic" ...
 $ year_of_birth     : int  1981 1994 1984 1984 2001 2001 2001 1991 1991 1991 ...
 $ age               : int  37 25 34 34 18 18 18 28 28 28 ...
 $ from_address      : chr  "No Permanent Address" "SUMMER AVE" "DOUGLAS AVE" "DOUGLAS AVE" ...
 $ from_city         : chr  "providence" "Cranston" "Providence" "Providence" ...
 $ from_state        : chr  "Rhode Island" "Rhode Island" "Rhode Island" "Rhode Island" ...
 $ statute_type      : chr  "" "RI Statute Violation" "RI Statute Violation" "RI Statute Violation" ...
 $ statute_code      : chr  "" "31-11-18" "12-7-10" "11-45-1" ...
 $ statute_desc      : chr  "" "Driving after Denial, Suspension or Revocation of License" "RESISTING LEGAL OR ILLEGAL ARREST" "DISORDERLY CONDUCT" ...
 $ counts            : int  NA 1 1 1 1 1 1 1 1 1 ...
 $ case_number       : chr  "2019-00084142" "2019-00084127" "2019-00084126" "2019-00084126" ...
 $ arresting_officers: chr  " YGonzalez, LTaveras" " NManfredi" " MPlace, JPerez, ASantos" " MPlace, JPerez, ASantos" ...
 $ id                : chr  "pvd2218242150382148273" "pvd15166785558364246202" "pvd3142917706201385905" "pvd3142917706201385905" ...

## 5.1 Summarizing Numeric Data

In [42]:
summary(arrests_df)

 arrest_date             year          month           gender
 Length:13012       Min.   :2019   Min.   : 1.000   Length:13012
 Class :character   1st Qu.:2019   1st Qu.: 3.000   Class :character
 Mode  :character   Median :2020   Median : 7.000   Mode  :character
                    Mean   :2020   Mean   : 6.508
                    3rd Qu.:2021   3rd Qu.: 9.000
                    Max.   :2021   Max.   :12.000

     race            ethnicity         year_of_birth       age
 Length:13012       Length:13012       Min.   :1938   Min.   :18.00
 Class :character   Class :character   1st Qu.:1980   1st Qu.:24.00
 Mode  :character   Mode  :character   Median :1989   Median :31.00
                                       Mean   :1986   Mean   :33.07
                                       3rd Qu.:1995   3rd Qu.:39.00
                                       Max.   :2003   Max.   :83.00

 from_address        from_city          from_state        statute_type
 Length:13012       Length:13012       Length:13012       Length:13012
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




 statute_code       statute_desc           counts       case_number
 Length:13012       Length:13012       Min.   : 1.000   Length:13012
 Class :character   Class :character   1st Qu.: 1.000   Class :character
 Mode  :character   Mode  :character   Median : 1.000   Mode  :character
                                       Mean   : 1.087
                                       3rd Qu.: 1.000
                                       Max.   :15.000
                                       NA's   :2983
 arresting_officers      id
 Length:13012       Length:13012
 Class :character   Class :character
 Mode  :character   Mode  :character

### 5.1.1 Summarizing Numeric Data (cont.)

In [43]:
numeric_vars <- c("month", "year", "age", "year_of_birth", "counts")

In [44]:
summary(arrests_df[, numeric_vars])

     month             year           age        year_of_birth
 Min.   : 1.000   Min.   :2019   Min.   :18.00   Min.   :1938
 1st Qu.: 3.000   1st Qu.:2019   1st Qu.:24.00   1st Qu.:1980
 Median : 7.000   Median :2020   Median :31.00   Median :1989
 Mean   : 6.508   Mean   :2020   Mean   :33.07   Mean   :1986
 3rd Qu.: 9.000   3rd Qu.:2021   3rd Qu.:39.00   3rd Qu.:1995
 Max.   :12.000   Max.   :2021   Max.   :83.00   Max.   :2003

     counts
 Min.   : 1.000
 1st Qu.: 1.000
 Median : 1.000
 Mean   : 1.087
 3rd Qu.: 1.000
 Max.   :15.000
 NA's   :2983

## 5.2 Summarizing String Variables

In [45]:
table(arrests_df$race)           # show summary of "race" column in `arrests_df`

                               American Indian/Alaskan Native
                            24                             25
        Asian/Pacific Islander                          Black
                           121                           5721
                          NULL                        Unknown
                            41                            588
                         White            ZHispanic (FD only)
                          6483                              9

# 6. Options when Reading CSV

  - The `read.csv()` function has many optional arguments
  - Critically, we can tell R the strings that ought to be considered missing

In [46]:
help(read.csv)

read.table                package:utils                R Documentation

_D_a_t_a _I_n_p_u_t

_D_e_s_c_r_i_p_t_i_o_n:

     Reads a file in table format and creates a data frame from it,
     with cases corresponding to lines and variables to fields in the
     file.

_U_s_a_g_e:

     read.table(file, header = FALSE, sep = "", quote = "\"'",
                dec = ".", numerals = c("allow.loss", "warn.loss", "no.loss"),
                row.names, col.names, as.is = !stringsAsFactors,
                na.strings = "NA", colClasses = NA, nrows = -1,
                skip = 0, check.names = TRUE, fill = !blank.lines.skip,
                strip.white = FALSE, blank.lines.skip = TRUE,
                comment.char = "#",
                allowEscapes = FALSE, flush = FALSE,
                stringsAsFactors = FALSE,
                fileEncoding = "", encoding = "unknown", text, skipNul = FALSE)

     read.csv(file, header = TRUE, sep = ",", quote = "\"",
              dec = ".", fill = TRUE, comment.char = "", ...)

     read.csv2(file, header = TRUE, sep = ";", quote = "\"",
               dec = ",", fill = TRUE, comment.char = "", ...)

     read.delim(file, header = TRUE, sep = "\t", quote = "\"",
                dec = ".", fill = TRUE, comment.char = "", ...)

     read.delim2(file, header = TRUE, sep = "\t", quote = "\"",
                 dec = ",", fill = TRUE, comment.char = "", ...)

_A_r_g_u_m_e_n_t_s:

    file: the name of the file which the data are to be read from.
          Each row of the table appears as one line of the file.  If it
          does not contain an _absolute_ path, the file name is
          _relative_ to the current working directory, ‘getwd()’.
          Tilde-expansion is performed where supported.  This can be a
          compressed file (see ‘file’).

          Alternatively, ‘file’ can be a readable text-mode connection
          (which will be opened for reading if necessary, and if so
          ‘close’d (and hence destroyed) at the end of the function
          call).  (If ‘stdin()’ is used, the prompts for lines may be
          somewhat confusing.  Terminate input with a blank line or an
          EOF signal, ‘Ctrl-D’ on Unix and ‘Ctrl-Z’ on Windows.  Any
          pushback on ‘stdin()’ will be cleared before return.)

          ‘file’ can also be a complete URL.  (For the supported URL
          schemes, see the ‘URLs’ section of the help for ‘url’.)

  header: a logical value indicating whether the file contains the
          names of the variables as its first line.  If missing, the
          value is determined from the file format: ‘header’ is set to
          ‘TRUE’ if and only if the first row contains one fewer field
          than the number of columns.

     sep: the field separator character.  Values on each line of the
          file are separated by this character.  If ‘sep = ""’ (the
          default for ‘read.table’) the separator is ‘white space’,
          that is one or more spaces, tabs, newlines or carriage
          returns.

   quote: the set of quoting characters. To disable quoting altogether,
          use ‘quote = ""’.  See ‘scan’ for the behaviour on quotes
          embedded in quotes.  Quoting is only considered for columns
          read as character, which is all of them unless ‘colClasses’
          is specified.

     dec: the character used in the file for decimal points.

numerals: string indicating how to convert numbers whose conversion to
          double precision would lose accuracy, see ‘type.convert’.
          Can be abbreviated.  (Applies also to complex-number inputs.)

row.names: a vector of row names.  This can be a vector giving the
          actual row names, or a single number giving the column of the
          table which contains the row names, or character string
          giving the name of the table column containing the row names.

          If there is a header and the first row contains one fewer
          field than the number of columns, the first column in the
          input is used for the row names.  Otherwise if ‘row.names’ is
          missing, the rows are numbered.

          Using ‘row.names = NULL’ forces row numbering. Missing or
          ‘NULL’ ‘row.names’ generate row names that are considered to
          be ‘automatic’ (and not preserved by ‘as.matrix’).

col.names: a vector of optional names for the variables.  The default
          is to use ‘"V"’ followed by the column number.

   as.is: controls conversion of character variables (insofar as they
          are not converted to logical, numeric or complex) to factors,
          if not otherwise specified by ‘colClasses’.  Its value is
          either a vector of logicals (values are recycled if
          necessary), or a vector of numeric or character indices which
          specify which columns should not be converted to factors.

          Note: to suppress all conversions including those of numeric
          columns, set ‘colClasses = "character"’.

          Note that ‘as.is’ is specified per column (not per variable)
          and so includes the column of row names (if any) and any
          columns to be skipped.

na.strings: a character vector of strings which are to be interpreted
          as ‘NA’ values.  Blank fields are also considered to be
          missing values in logical, integer, numeric and complex
          fields.  Note that the test happens _after_ white space is
          stripped from the input, so ‘na.strings’ values may need
          their own white space stripped in advance.

colClasses: character.  A vector of classes to be assumed for the
          columns.  If unnamed, recycled as necessary.  If named, names
          are matched with unspecified values being taken to be ‘NA’.

          Possible values are ‘NA’ (the default, when ‘type.convert’ is
          used), ‘"NULL"’ (when the column is skipped), one of the
          atomic vector classes (logical, integer, numeric, complex,
          character, raw), or ‘"factor"’, ‘"Date"’ or ‘"POSIXct"’.
          Otherwise there needs to be an ‘as’ method (from package
          ‘methods’) for conversion from ‘"character"’ to the specified
          formal class.

          Note that ‘colClasses’ is specified per column (not per
          variable) and so includes the column of row names (if any).

   nrows: integer: the maximum number of rows to read in.  Negative and
          other invalid values are ignored.

    skip: integer: the number of lines of the data file to skip before
          beginning to read data.

check.names: logical.  If ‘TRUE’ then the names of the variables in the
          data frame are checked to ensure that they are syntactically
          valid variable names.  If necessary they are adjusted (by
          ‘make.names’) so that they are, and also to ensure that there
          are no duplicates.

    fill: logical. If ‘TRUE’ then in case the rows have unequal length,
          blank fields are implicitly added.  See ‘Details’.

strip.white: logical. Used only when ‘sep’ has been specified, and
          allows the stripping of leading and trailing white space from
          unquoted ‘character’ fields (‘numeric’ fields are always
          stripped).  See ‘scan’ for further details (including the
          exact meaning of ‘white space’), remembering that the columns
          may include the row names.

blank.lines.skip: logical: if ‘TRUE’ blank lines in the input are
          ignored.

comment.char: character: a character vector of length one containing a
          single character or an empty string.  Use ‘""’ to turn off
          the interpretation of comments altogether.

allowEscapes: logical.  Should C-style escapes such as ‘\n’ be
          processed or read verbatim (the default)?  Note that if not
          within quotes these could be interpreted as a delimiter (but
          not as a comment character).  For more details see ‘scan’.

   flush: logical: if ‘TRUE’, ‘scan’ will flush to the end of the line
          after reading the last of the fields requested.  This allows
          putting comments after the last field.

stringsAsFactors: logical: should character vectors be converted to
          factors?  Note that this is overridden by ‘as.is’ and
          ‘colClasses’, both of which allow finer control.

fileEncoding: character string: if non-empty declares the encoding used
          on a file (not a connection) so the character data can be
          re-encoded.  See the ‘Encoding’ section of the help for
          ‘file’, the ‘R Data Import/Export’ manual and ‘Note’.

encoding: encoding to be assumed for input strings.  It is used to mark
          character strings as known to be in Latin-1 or UTF-8 (see
          ‘Encoding’): it is not used to re-encode the input, but
          allows R to handle encoded strings in their native encoding
          (if one of those two).  See ‘Value’ and ‘Note’.

    text: character string: if ‘file’ is not supplied and this is, then
          data are read from the value of ‘text’ via a text connection.
          Notice that a literal string can be used to include (small)
          data sets within R code.

 skipNul: logical: should nuls be skipped?

     ...: Further arguments to be passed to ‘read.table’.

_D_e_t_a_i_l_s:

     This function is the principal means of reading tabular data into
     R.

     Unless ‘colClasses’ is specified, all columns are read as
     character columns and then converted using ‘type.convert’ to
     logical, integer, numeric, complex or (depending on ‘as.is’)
     factor as appropriate.  Quotes are (by default) interpreted in all
     fields, so a column of values like ‘"42"’ will result in an
     integer column.

     A field or line is ‘blank’ if it contains nothing (except
     whitespace if no separator is specified) before a comment
     character or the end of the field or line.

     If ‘row.names’ is not specified and the header line has one less
     entry than the number of columns, the first column is taken to be
     the row names.  This allows data frames to be read in from the
     format in which they are printed.  If ‘row.names’ is specified and
     does not refer to the first column, that column is discarded from
     such files.

     The number of data columns is determined by looking at the first
     five lines of input (or the whole input if it has less than five
     lines), or from the length of ‘col.names’ if it is specified and
     is longer.  This could conceivably be wrong if ‘fill’ or
     ‘blank.lines.skip’ are true, so specify ‘col.names’ if necessary
     (as in the ‘Examples’).

     ‘read.csv’ and ‘read.csv2’ are identical to ‘read.table’ except
     for the defaults.  They are intended for reading ‘comma separated
     value’ files (‘.csv’) or (‘read.csv2’) the variant used in
     countries that use a comma as decimal point and a semicolon as
     field separator.  Similarly, ‘read.delim’ and ‘read.delim2’ are
     for reading delimited files, defaulting to the TAB character for
     the delimiter.  Notice that ‘header = TRUE’ and ‘fill = TRUE’ in
     these variants, and that the comment character is disabled.

     The rest of the line after a comment character is skipped; quotes
     are not processed in comments.  Complete comment lines are allowed
     provided ‘blank.lines.skip = TRUE’; however, comment lines prior
     to the header must have the comment character in the first
     non-blank column.

     Quoted fields with embedded newlines are supported except after a
     comment character.  Embedded nuls are unsupported: skipping them
     (with ‘skipNul = TRUE’) may work.

_V_a_l_u_e:

     A data frame (‘data.frame’) containing a representation of the
     data in the file.

     Empty input is an error unless ‘col.names’ is specified, when a
     0-row data frame is returned: similarly giving just a header line
     if ‘header = TRUE’ results in a 0-row data frame.  Note that in
     either case the columns will be logical unless ‘colClasses’ was
     supplied.

     Character strings in the result (including factor levels) will
     have a declared encoding if ‘encoding’ is ‘"latin1"’ or ‘"UTF-8"’.

_C_S_V _f_i_l_e_s:

     See the help on ‘write.csv’ for the various conventions for ‘.csv’
     files.  The commonest form of CSV file with row names needs to be
     read with ‘read.csv(..., row.names = 1)’ to use the names in the
     first column of the file as row names.

_M_e_m_o_r_y _u_s_a_g_e:

     These functions can use a surprising amount of memory when reading
     large files.  There is extensive discussion in the ‘R Data
     Import/Export’ manual, supplementing the notes here.

     Less memory will be used if ‘colClasses’ is specified as one of
     the six atomic vector classes.  This can be particularly so when
     reading a column that takes many distinct numeric values, as
     storing each distinct value as a character string can take up to
     14 times as much memory as storing it as an integer.

     Using ‘nrows’, even as a mild over-estimate, will help memory
     usage.

     Using ‘comment.char = ""’ will be appreciably faster than the
     ‘read.table’ default.

     ‘read.table’ is not the right tool for reading large matrices,
     especially those with many columns: it is designed to read _data
     frames_ which may have columns of very different classes.  Use
     ‘scan’ instead for matrices.

_N_o_t_e:

     The columns referred to in ‘as.is’ and ‘colClasses’ include the
     column of row names (if any).

     There are two approaches for reading input that is not in the
     local encoding.  If the input is known to be UTF-8 or Latin1, use
     the ‘encoding’ argument to declare that.  If the input is in some
     other encoding, then it may be translated on input.  The
     ‘fileEncoding’ argument achieves this by setting up a connection
     to do the re-encoding into the current locale.  Note that on
     Windows or other systems not running in a UTF-8 locale, this may
     not be possible.

_R_e_f_e_r_e_n_c_e_s:

     Chambers, J. M. (1992) _Data for models._ Chapter 3 of
     _Statistical Models in S_ eds J. M. Chambers and T. J. Hastie,
     Wadsworth & Brooks/Cole.

_S_e_e _A_l_s_o:

     The ‘R Data Import/Export’ manual.

     ‘scan’, ‘type.convert’, ‘read.fwf’ for reading _f_ixed _w_idth
     _f_ormatted input; ‘write.table’; ‘data.frame’.

     ‘count.fields’ can be useful to determine problems with reading
     files which result in reports of incorrect record lengths (see the
     ‘Examples’ below).

     <https://tools.ietf.org/html/rfc4180> for the IANA definition of
     CSV files (which requires comma as separator and CRLF line
     endings).

_E_x_a_m_p_l_e_s:

     ## using count.fields to handle unknown maximum number of fields
     ## when fill = TRUE
     test1 <- c(1:5, "6,7", "8,9,10")
     tf <- tempfile()
     writeLines(test1, tf)

     read.csv(tf, fill = TRUE) # 1 column
     ncol <- max(count.fields(tf, sep = ","))
     read.csv(tf, fill = TRUE, header = FALSE,
              col.names = paste0("V", seq_len(ncol)))
     unlink(tf)

     ## "Inline" data set, using text=
     ## Notice that leading and trailing empty lines are auto-trimmed

     read.table(header = TRUE, text = "
     a b
     1 2
     3 4
     ")

In [47]:
arrests_df2 <- read.csv("data/pvd_arrests_2021-10-03.csv", 
                        na.strings = c("NA", "", " ", "NULL", "Unknown"))

## 6.1 Effects of  `na.strings`

In [49]:
table(arrests_df$race)             # explore `race` in original dataframe

                               American Indian/Alaskan Native
                            24                             25
        Asian/Pacific Islander                          Black
                           121                           5721
                          NULL                        Unknown
                            41                            588
                         White            ZHispanic (FD only)
                          6483                              9

In [50]:
table(arrests_df2$race)           # dataframe after setting `na.strings`

American Indian/Alaskan Native         Asian/Pacific Islander
                            25                            121
                         Black                          White
                          5721                           6483
           ZHispanic (FD only)
                             9

In [51]:
arrests_df[1, ]

  arrest_date           year month gender race  ethnicity   year_of_birth age
1 2019-08-24T02:23:00.0 2019 8     Male   White NonHispanic 1981          37
  from_address         from_city  from_state   statute_type statute_code
1 No Permanent Address providence Rhode Island
  statute_desc counts case_number   arresting_officers   id
1              NA     2019-00084142  YGonzalez, LTaveras pvd2218242150382148273